body{
    padding-top: 10px;
}
.background{
    margin: 0 auto;
}
#canvas_all{
    position: relative;
    margin: 0;
}
.canvas{
    position: absolute;
    bottom: 0;
    left: 0;
}
#canvas_upper{
    z-index: 1;
}
#canvas_lower{
    z-index: 0;
}
.background, #canvas_all{
    width: 800px;
    height: 600px;
}